*{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;  
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* particleground demo */

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.glow-a {
  color: #fff;
  text-align: center;
  /* font-size: 2em; */
  /* text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff; */
  transition: text-shadow 0.3s ease-in-out;
}

.glow-a:hover {
  color: black;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px
  #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
}

body {
  background: #000010;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
}

#particles {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#intro {
  position: absolute;
  left: 0;
  top: 50%;
  padding: 0 10px;
  width: 100%;
  text-align: center;
}
h2 {
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 120;
  color: #ffffff;
  letter-spacing: 0.05em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
h1::after {
  content: '';
  width: 80px;
  display: block;
  background: #fff;
  height: 10px;
  margin: 30px auto;
  line-height: 1.1;
}
p {
  margin: 0 0 30px 0;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
}

.image{
  width: 8vw;
  height: auto;
  border-radius: 15px;
}

.social-media-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  color: #fff;
  transition: box-shadow 0.3s ease-in-out;
}

.facebook {
  background-color: #3b5998;
}

.twitter {
  background-color: #1da1f2;
}

.instagram {
  background-color: #e4405f;
}

.button:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.button:hover::before,
.button:hover::after {
  content: "";
  position: absolute;
  border-radius: 50%;
}

.button:hover::before {
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.button:hover::after {
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
}

.glow-text {
  color: #fff; /* Set the text color */
  font-size: 48px; /* Set the font size */
  /* font-weight: bold; Set the font weight */
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de; /* Set the text shadow */
  animation: glowing 1.5s infinite; /* Apply the animation */
}

@keyframes glowing {
  0% {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
  }
  50% {
    text-shadow: none;
  }
  100% {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
  }
}

@media only screen and (max-width: 1000px) {
  h1 {
    font-size: 15px;
  }
}

@media only screen and (max-width: 100px) {
  h1 {
    font-size: 15px;
  }
  h1::after {
    height: 8px;
  }
}

@media only screen and (max-width: 100px) {
  #intro {
    padding: 0 10px;
  }
  h1 {
    font-size: 15px;
  }
  h1::after {
    height: 6px;
  }
  p {
    font-size: 18px;
  }
  .btn {
    font-size: 16px;
  }
}

@media only screen and (max-width: 100px) {
  h1 {
    font-size: 15px;
  }
  h1::after {
    height: 4px;
  }
}
